<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:\My Personal Repo\CX_NextGen_Framework">
        <parameter name="browser" value="chrome"/>
        <parameter name="browserVersion" value="96"/>
        <classes>
            <class name="com.qa.aquabot.test.ContactFromTest">
                <methods>
                    <include name="contactFromTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>